* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: black;
    background-color: greenyellow;
    padding: 10px;
}

header nav li {
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    color: black;
}

header nav li a {
    color: black;
    text-decoration: none;
}

header .container {
    display: flex;
}