* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

.container {
    width: 0 auto;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 100px;
}

.articles article {
    width: 30%;
}

* {
    background-color: rgb(40, 235, 235);
}

h1 {
    color: blue;
}

h2 {
    color: rgb(78, 4, 148);
}

time {
    color: rgb(229, 165, 165);
}

h3 {
    color: rgb(5, 138, 94);
}